@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&family=Jim+Nightshade&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);

/*
font-family: "Jim Nightshade", cursive;
font-family: "Golos Text", sans-serif;
*/

:root {
   --color1: #4c3a55;
   --color2: #684b61;
   --color3: #9e637a;
   --color4: #dc8f98;
   --color5: #e2bba7;
}

#header {
   display: flex;
   background-color: var(--color5);
   border-radius: 0 0 25% 25%;
   width: 100%;
   justify-content: center;
   align-items: center;
   text-align: center;
   position: fixed;
   z-index: 2;
}

#nav ul {
   float: right;
   padding: 0;
}

#nav ul li {
   display: inline-block;
   margin: 5px 5px;
   text-transform: uppercase;
}

#nav ul li a {
   color: var(--color1);
   font-size: 1rem;
   padding: 7px 13px;
}

#nav ul li a.active,
#nav ul li a:hover {
   background-color:var(--color1);
   color: var(--color5);
   border-radius: 40%;
   transition: 0.2s;
}

#checkbtn {
   font-size: 1rem;
   color: var(--color1);
   background-color: transparent;
   cursor: pointer;
}

#check {
   display: none;
}

#main {
   margin: 3rem 0;
}

#name {
   font-family: "Jim Nightshade", cursive;
   font-size: 3rem;
   color: white;
   font-weight: 200;
   margin: 4rem 1rem 2rem 1rem;
}

#squares {
   position: relative;
   display: flex;
   justify-content: center;
   width: 100%;
}

#square1 {
   width: 250px;
   height: 300px;
   margin-right: 3rem;
   background-color: var(--color3);
   border-radius: 11px;
}

#square2 {
   margin-top: 1.8rem;
   margin-left: 5rem;
   width: 230px;
   height: 240px;
   background-color: var(--color5);
   border-radius: 11px;
   z-index: 1;
   position: absolute;
   box-shadow: 0px 10px 15px 18px rgba(0,0,0,0.1);
}


#info {
   position: relative;
   height: 10vh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-family: "Golos Text", sans-serif;
   color: white;
   margin: 2rem;
}

#info h2 {
   font-size: 28px;
   flex-wrap: wrap;
   margin-left: 2rem;
   text-align: right;
}
#cv {
   margin: 1rem;
   background-color: var(--color3);
   border-radius: 10px;
   transition: all 1.5s;
}
#cv a {
   text-decoration: none;
   font-size: 1.2rem;
   color: white;
   font-family: "Golos Text", sans-serif;
   transition: all 1.5s;
}
#cv:hover,
#cv a:hover {
   scale: 1.5;
   background-color: var(--color4);
   color: black;
}
#projects {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border-radius: 30%;
   background-color: var(--color2);
   margin-bottom: 1rem;
}

#projects h1 {
   font-size: 48px;
   margin: 3rem 0;
   color: white;
   font-weight: 100;
}

#proyectos {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(3, 1fr);
   gap: 3vh 0;
   margin-bottom: 2rem;
}
#projects .protitle{
   font-size: 1.5rem;
   text-align: center;
   margin: 0 2px;
   color: black;
}
#projects span{
   font-size: 2rem;
   color: var(--color1);
}
#projects a{
   justify-self: end;
   text-decoration: none;
   color: var(--color1);
   background-color: var(--color5);
   border-radius: 10px;
   padding: 5px;
   transition: all .5s;
}
#projects a:hover, #projects a:active{
   scale: 1.2;
   background-color: var(--color1);
   color: white;
}

#proyecto1 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   grid-column: 1 / 1;
   background-color: var(--color4);
   width: 170px;
   height: 170px;
   border-radius: 10px;
   box-shadow: 0px 10px 15px 18px rgba(0,0,0,0.1);
}


#proyecto2 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   grid-column: 1 / 2;
   background-color: var(--color4);
   width: 170px;
   height: 170px;
   border-radius: 10px;
   box-shadow: 0px 10px 15px 18px rgba(0,0,0,0.1);
}

#proyecto3 {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-direction: column;
   grid-column: 1 / 3;
   grid-row: 2;
   background-color: var(--color3);
   width: 170px;
   height: 170px;
   border-radius: 10px;
   box-shadow: 0px 10px 15px 18px rgba(0,0,0,0.1);
}
#proyecto1:hover{
   transform: scale(1.2) rotate(15deg) translateX(1px) translateY(10px);
}
#proyecto2:hover{
   transform: scale(1.2) rotate(15deg) translateX(10px) translateY(10px);
}
#proyecto3:hover{
   transform: scale(1.2) rotate(-15deg) translateX(10px) translateY(10px);
}
#contacto {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #dc8f988a;
}

#contacto h1 {
   font-size: 48px;
   margin: 2rem 0;
   color: white;
   font-weight: 100;
}

#form-contact {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   background-image: url(../assets/fondo2.svg);
   background-repeat: repeat;
   background-size: contain;
   background-attachment: fixed;
   width: 80%;
   height: 450px;
   border-radius: 60px;
   margin: 5rem 0;
}

#form-contact h2 {
   color: white;
   margin-left: 0;
   font-size: 1.2rem;
   font-family: "Golos Text", sans-serif;
}

#yourname {
   background-color: #e2bba7da;
   height: 5vh;
   border-radius: 20px 20px 0 0;
   margin-top: 2vh;
   width: 70%;
}

#youremail {
   background-color: #e2bba7da;
   height: 5vh;
   width: 70%;
}

#description {
   background-color: #e2bba7da;
   border-radius: 0 0 20px 20px;
   width: 70%;
}

#send {
   margin: 1rem;
   background-color: var(--color3);
   color: white;
   border-radius: 10px;
   font-family: "Golos Text", sans-serif;
   transition: all 1.5s;
   width: 100px;
   font-size: 22px;
}

#send:hover,
#send a:hover {
   scale: 1.5;
   background-color: var(--color4);
   color: black;
}

input:focus,
textarea:focus {
   outline: none;
   border-style: solid;
   border-width: 4px;
   border-color: var(--color5);
}

input::placeholder,
textarea::placeholder {
   font-family: "Jim Nightshade", cursive;
   font-size: 18px;
   margin-left: 20px;
}

#about {
   border-top: 5px solid var(--color4);
   border-bottom: 5px solid var(--color4);
   color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 1rem 0;
}

#about-title {
   font-family: "Jim Nightshade", cursive;
   font-size: 48px;
   font-weight: 100;
   margin: 2rem 0;
}

#my-info {
   text-align: center;
   font-size: 24px;
   font-weight: 200;
}

#my-skills {
   margin: 2rem 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

#skills {
   background-color: #dc8f988a;
   width: 100%;
   font-size: 24px;
   font-weight: 100;
   margin-bottom: 1rem;
   display: flex;
   justify-content: center;
   margin-top: 2rem;
   
}

#list, #list2 {
   font-family: "Jim Nightshade", cursive;
   font-weight: 100;
   font-size: 28px;
   list-style: none;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 2vh;
}

ul {
   padding: 0;
}

#list span, #list2 span {
   color: var(--color4);
   font-size: 1.2rem;
}


.first {
   text-align: end;
}

.second {
   text-align: start;
}

#footer {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: white;
   text-align: center;
}

#separation {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-row: 1fr;
   gap: 2vh;
   width: 100%;
   text-align: center;
}

.line {
   border-top: 5px solid var(--color4);
}

#icons a {
   font-size: 30px;
   color: white;
   margin: 0 5px;
}

#footer h1 {
   font-size: 24px;
   font-weight: 200;
   margin: 0.5rem;
}

#footer p {
   font-size: 18px;
   font-family: "Jim Nightshade", cursive;
   font-weight: 100;
}
