* {
   margin: 0;
   top: 0;
   border: none;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}
html{
   scroll-behavior: smooth;
}
body {
   background-image: url(../assets/fondo2.svg);
   background-repeat: repeat;
   background-size: contain;
   background-attachment: fixed;
   position: relative;
   display: flex;
   flex-direction: column;
}
